<!DOCTYPE html>
<html lang="en">
<head>
    <title>Crud Em Node.Js</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <style>
    nav div {
        margin-left: 5px;
    }

    .container {
        margin-top: 25px;
    }
  </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link btn btn-primary" href="/">Home</a>
            </li>
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cadastro de Alunos
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="cadastrar" href="/alunos/create">Novo Cadastro</a><br>
                    <a class="mostrar" href="/alunos/show">Mostrar Registros</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cadastro de Professores
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="cadastrar" href="/prof/create">Novo Cadastro</a><br>
                    <a class="mostrar" href="/prof/show">Mostrar Registros</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cadastro de Livros
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                
                    <a class="cadastrar" href="/livros/create">Novo Cadastro</a><br>
                    <a class="mostrar" href="/livros/show">Mostrar Registros</a>
                </div>  
            </div>
        </ul>
    </nav>

    <div class="container">
        <h2>Registros</h2>
        <table class="table" border="1">
          <thead class="table-dark">
            <tr>
                <td>Nome</td>
                <td>CPF</td>
                <td>Sexo</td>
                <td>Telefone</td>
                <td>Idade</td>
                <td>Endereco</td>
                <td>Email</td>
                <td>Código</td>
                <td>Especialidade</td>
            </tr>
        </thead>
        <tbody>
           
                <% data.forEach(function(details) { %>
                <tr>
                    <td><%= details.nome %></td>
                     <td><%= details.CPF %></td>
                        <td><%= details.sexo %></td>
                           <td><%= details.telefone %></td>
                               <td><%= details.idade %></td>
                                    <td><%= details.endereco %></td>
                                        <td><%= details.email %></td>
                                           <td> <%= details.codigo %></td>
                                                <td> <%= details.especialidade %></td>
                                                <td> <button style="margin-bottom: 10px;" type="button" class="btn btn-secondary"> <a style="color:ghostwhite; text-decoration: none;" href="/prof/edit/<%= details._id %>">Editar</a> </button><br>
                                                   <button type="button" class="btn btn-secondary"> <a style="color:ghostwhite; text-decoration: none;" href="/prof/delete/<%= details._id %>">Deletar</button></a></td>
            
                 </tr>
                 <% }) %>
           
        </tbody>
        </table>
        
        <div style="text-align: center;"><button class="btn btn-secondary"><a style="color:ghostwhite; text-decoration: none;" href="/prof/create">Novo</a></button></div>
        </div>
</body>
</html>